.todo {
    width: 20%;
    box-sizing: border-box;
    background-color: #FF7276;
    padding: .5em;
    border-radius: .75em;
    margin: 1em;
    cursor: pointer;
}

.todo h3 {
    margin: 0px;
}

.todo p {
    margin: 0px;
}

.completed {
    opacity: 35%;
    background-color: lightgreen;
    text-decoration: line-through;
}

#form {
    border: .1em solid black;
    width: 350px;
    height: 85px;
    padding-left: .5em;
}

#complete-items {
    border: .1em solid lightgreen;
}

#incomplete-items {
    border: .1em solid red;
    margin-bottom: 1em;
}

#complete-items, 
#incomplete-items {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}